@import url('https://fonts/googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --color-main: #1a202e;
}
html {
    font-size: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.grid-container{
    display: grid;
    grid-template-rows: 1fr 2.5fr 1.5fr 1fr 1.5fr;
    grid-template-columns:1fr 1fr 1fr;
    gap:.5rem;
    height: 90vh;
    margin-left: 20%;
    padding: 1rem;
    background-color: #fff;
    margin-top: 4%;
}

.grid-item{
    border: .01rem solid #000;
    padding: .5rem 2%;
    box-shadow: 0 .1rem .1rem rgba(0,0,0,.1);
    border-radius: 1rem;
}

.grid-item .heading{
    font-size: 1rem;
}

.heading{
    font-size: 3.2rem;
    text-shadow: .2rem .2rem rgba(101, 101, 101, 0.2);
}
.fa-solid, .fa-regular, .nav-link{
    cursor: pointer;
}
.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: .1rem .5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    /* margin-top: 0; */
    top:0;
    margin-left: 0%;
    width: 100%;
    z-index: 10;
    transition: .5s;
}
.header .menu-toggle{
    font-size: 1.4rem;
    color:#333;
}
.header .menu-toggle label {
    height: 60px;
    width: 60px;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    border-radius: 50%;

}
.header .logo{
    margin-left: 2rem;
}
.header .logo img{
   width: 7rem;
   height: 3rem;
}
.header .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    margin: 1rem 1rem;
    margin-right: 20%;
    z-index: 10;
    width: 40%;
}

.search-icon {
    padding:0 .5rem;
    /* background-color: #007bff; */
    color: #ccc;
    /* border-right: 1px solid #ccc; */
    /* width: 3rem ; */
}

#search {
    padding: .5rem;
    border: none;
    width: 60rem;
}

.header .header-icons {
    display: flex;
    margin:1rem;
    font-size: 1.4rem;
    gap:1.5rem;
}
.header .header-icons .fa-circle-user{
    font-size: 1.6rem;
}

.menu-toggle label:hover {
    background: #efefef;
}

/* sidebar style  */
.sidebar {
   
    width: 20%;
    position: fixed;
    left:0;
    top:4.3rem;
    height: 100%;
    padding: 1rem 1.5rem;
    background: var(--color-main);
    color: #fff; 
    /* z-index: -1; */
}

.sidebar-brand {
    /* height: 70px; */
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.brand-icons i {
    font-size: 1.4rem;
    /* margin-left: .5rem; */
    margin-top: 1rem;
}

.sidebar-user {
    margin: 1rem 0rem 1rem 0rem;
    /* align-items: center; */
    text-align: center;
}

.sidebar-user .fa-circle-user {
    font-size: 7rem;

}

.sidebar-user h3 {
    font-size: 1.5rem;
}

.sidebar-user span {
    font-size: .85rem;
}

.sidebar-menu {
    margin-top: 2rem;
}

.sidebar-menu ul {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;

}

.sidebar-menu li {
    margin-bottom: .9rem;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    
}

/* .sidebar-menu li::before {
    color: #fff;
    
} */
.sidebar .sidebar-menu ul li a {
    color: #efefef;
    font-size:  1rem;
    display: flex;
    align-items: center;
    padding:.5rem 1rem;
}
.sidebar .sidebar-menu ul li .more{
    display: none;
}

.sidebar .sidebar-menu ul li a:hover {
    
    color: #1a202e;
    border-radius: 2rem;
    border: 1px solid #1a202e;
    background-color: #fff;
    /* padding: 1rem; */
    cursor: pointer;
}



.sidebar-menu li a span,i{
    font-size:  1rem;
    display: inline-block;
    margin-right: .8rem;
}

.bottom-navbar{
    display: none;
}



.grid-item h3{
    font-size: 1.5rem;
}

/* hello user style  */
.hello-user {
    grid-column: span 3;
    border: none;
   
}
.hello-user h1{
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0,0,0,.1);
    border-bottom: .1rem solid rgba(0,0,0,.3);
    padding-bottom: 1rem;
}
.hello-user .fa-hand{
    font-size: 2rem;
}

 /* courses in progress style  */
.courses-in-progress {
    grid-column: span 2;
    /* flex-wrap: wrap; */
    background-color: #eee;
    /* border: none; */
    
}
.courses-in-progress .fa-arrow-trend-down{
    font-size: 1.5rem;
}
.courses-in-progress .course-box {
    /* background: #fff; */
    margin-top: 1rem;
    /* padding: 1rem; */
    /* height: 12rem;  */
    display: flex;
    /* flex:wrap; */
    flex: 1 1 50%;
    gap:1rem;
    border-radius: 2rem;
    /* box-shadow:0 0.3rem .3rem rgba(226, 225, 225, 0.5); */
    /* position: relative; */
    overflow: hidden;
}

.course-card {
    background: #c3c3c3;
    padding:.5rem 1.5rem;
    /* width:30rem;
    height: 6.5rem; */
    flex: 1 1 50%;
    border-radius: 2rem;
    display: flex;
    /* justify-content: space-between; */
    gap: 2rem;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow:0 0.5rem .5rem rgba(157, 157, 157, 0.5);
    
}

.course-card .course-logo img {
    flex: 1 1 25%;
    width: 5.2rem;
    height: 5.2rem;
    /* margin-top: 0rem;
    margin-bottom: 0rem; */
    border-radius: 10%;
    overflow: hidden;

}

.course-card .course-content {
    flex: 1 1 75%;
}

.course-card .course-content h5{
    font-size: 1rem;
}

.course-card .course-content .instructor{
    font-size: .75rem;
    padding: .2rem 0;
    color: var(--color-main);
}


.course-card .course-content .completed-percentage  {
    font-size: .7rem;
}

.course-card .course-content .first {
    background-image: linear-gradient(to right, #333333 50%, #eeeeee 50%);
    width: 10rem;
    height: .5rem;
    /* margin-top: rem; */
    padding: .2rem 0;
    z-index: 100;
}

.course-card .course-content .second{
    background-image: linear-gradient(to right, #333333 90%, #eeeeee 10%);
    width: 10rem;
    height: .5rem;
    /* margin-top: 1rem; */
    padding: .3rem 0;
    z-index: 100;
}

.btn {
   margin: 1rem 0;
   border-radius: 1.5rem;
   background: #333333;
   color: #fff;
   padding: .3rem .5rem;
   cursor: pointer;
   font-size: 0.7rem;
   width: fit-content;
   display: inline-block;
   border: .1rem solid rgba(0,0,0,.3);
}


.btn:hover {
    background-color: #fff;
    color: #333;
}

/* style for calendar */

.calendar {
    background-color: #eee;
    /* border: none; */
}

.month-calendar {
    border: 1px solid #000;
}
/* Month header */
.month {
    padding: 1rem .5rem;
    width: 100%;
    background: var(--color-main);
    text-align: center;
  }
  
  /* Month list */
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
  }
  
  /* Previous button inside month header */
  .month .prev {
    float: left;
    padding-top: 1.5rem;
  }
  
  /* Next button */
  .month .next {
    float: right;
    padding-top: 1.5rem;
  }
  
  /* Weekdays (Mon-Sun) */
  .weekdays {
    margin: 0;
    padding: .5rem 0;
    background-color:#ddd;

  }
  
  .weekdays li {
    display: inline-block;
    width: 13%;
    color: #000000;
    text-align: center;
  }
  
  /* Days (1-31) */
  .days {
    padding: .5rem 0;
    background: #ffffff;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13%;
    text-align: center;
    margin-bottom: .5rem;
    font-size:.8rem;
    color: #000000;
  }
  
  /* Highlight the "current" day */
  .days li .active {
    padding: 1rem;
    background: var(--color-main);
    color: white !important
  }



 /* style for progress  */
.progress{
    grid-area: 3 / 1 / 4 / 2;
    grid-row: span 2;
    background-color: #eee;
    /* border: none; */
}
.progress .progress-contents{
    margin-top: 1.5rem;
    /* margin-bottom: 2rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.progress .progress-contents .fa-spinner{
    /* position: absolute; */
    /* text-align: center; */
    font-size: 7rem;
    color: #555;
    padding: 1rem .5rem;
    /* margin-left: 2rem; */
    flex: 1 1 50%;
}

.progress .progress-contents .progress-for-tasks {
    display: flex;
    flex-direction: column;
    /* margin-left: 50%; */
    /* margin-top: 1rem; */
    justify-content: space-between;
    gap:1rem;
    flex: 1 1 50%;
    font-size: 1rem;
}
.progress .progress-contents .progress-for-tasks b{
    font-size: 1.2rem;
}

 /* style for learning hours */
.learning-hours{
    grid-area: 3 / 2 / 4 / 3;
    background-color: #eee;
    /* border: none; */
}

.learning-hours .fa-clock {
    position: absolute;
    text-align: center;
    font-size: 3.5rem;
    color: #555;
    padding: 1rem .5rem;
    margin-left: 1rem;
    /* margin-top: .5rem; */
}

.learning-hours .time-spent-learning {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 1rem;
    justify-content: space-between;
    gap:1rem;
}

.learning-hours .third {
    background-image: linear-gradient(to right, #333333 50%, #ffffff 50%);
    width: 15rem;
    height: .3rem;
    /* margin-top: rem; */
    padding: .2rem 0;
    z-index: 100;
}

.learning-hours .view-more{
    /* margin: 1rem 0; */
    margin-bottom: 0;
    margin-left: 60%;
    border-radius: 1.5rem;
    background: #333333;
    color: #fff;
    padding: .3rem .5rem;
    cursor: pointer;
    font-size: .7rem;
    display: block;
    width: fit-content;
    text-align: center;
    border: .1rem solid rgba(0,0,0,.3);
}

.view-more:hover {
    background-color: #fff;
    color: #333;
}
 /* style for achievements */
 .achievements{
    grid-area: 5 / 1 / 7 / 2;
    background-color: #eee;
    /* border: none; */
}

.achievements .fa-medal {
    position: absolute;
    text-align: center;
    font-size: 3.5rem;
    color: #555;
    padding: .5rem .2rem;
    margin-left: 1rem;
    /* margin-top: .5rem; */
}

.achievements .certificate {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: .5rem;
    /* justify-content: space-between; */
    gap:.1rem;
}
.achievements .certificate p{
    font-size: .8rem;
}
.achievements .certificate small{
    font-size: .5rem;
}
 /* style for tasks */
 .tasks{
   grid-area: 4 / 3 / -2 / -1;
   grid-row: span 3;
   background-color: #eee;
   /* border: none; */
}
.todo-box {
    /* border: 1px solid #ccc; */
    /* padding: 20px; */
    max-width: 400px;
    margin: 0 auto;
}

.task {
    border-bottom: .1rem solid #ccc;
    padding: .5rem 0;
    display: flex;
   
}

.task:last-child {
    border-bottom: none;
}

.task input[type="checkbox"] {
    margin:.2rem 2rem;
    width: 1.5rem;
}

.task-details {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5rem .2rem;

}

.task-title {
    font-weight: bold;
}

.course-name {
    font-size: .9rem;
    color: #666;
}

.task-time {
    font-size: .9rem;
    color: #666;
}
 /* style for explore */
 .explore{
    grid-area: 4 / 2 / -3 / -2;
    grid-row: span 2;
    background-color:#eee ;
    /* border: none; */
}

.explore .explore-card {
    margin-top: 1rem;
    height: 6.5rem;
}

.explore .course-card .img {
    flex: 1 1 25%;
    margin-top: auto;
    margin-left: .5rem;
    margin-bottom: auto;
    height: 7.5rem;
}

.explore .course-card .instructor {
    font-size: .9rem;

}
/* tablet  */
@media (max-width:991px){
    html {
        font-size: 80%;
    }

    .sidebar-user {
        margin: 0.5rem 0rem .5rem 0rem;
        /* align-items: center; */
        text-align: center;
    }
    
    .sidebar-user .fa-circle-user {
        font-size: 4rem;
    
    }
    
    .sidebar-user h3 {
        font-size: 1.2rem;
    }
    
    .sidebar-user span {
        font-size: .7rem;
    }
    
    .sidebar-menu {
        margin-top: 2rem;
    }
    
    .sidebar-menu ul {
        margin-bottom: 1rem;
        margin-left: .1rem;
    
    }

    .grid-container{
        margin-top: 5%;
    }

  
    .course-card {
        padding: .2rem 1.2rem;
        /* width:30rem;
        height: 6.5rem; */
        flex: 1 1 50%;
        border-radius: 2rem;
        display: flex;
        /* justify-content: space-between; */
        gap: 1.5rem;
        border: .1rem solid rgba(0,0,0,.1);
        box-shadow:0 0.5rem .5rem rgba(157, 157, 157, 0.5);
        
    }

    .course-card .course-logo img {
        flex: 1 1 25%;
        width: 5rem;
        height: 5rem;
        /* margin-top: 0rem;
        margin-bottom: 0rem; */
        border-radius: 10%;
        overflow: hidden;
    
    }

    .course-card .course-content h5{
        font-size: .8rem;
    }
    
    .progress .fa-spinner{
        font-size: 5rem;
        color: #555;
        padding: 1rem .5rem;
        margin-left: 2rem;
    }
    
    .progress .progress-for-tasks {
        font-size: .85rem;
    }

    .learning-hours .time-spent-learning {
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        margin-top: 1rem;
        justify-content: space-between;
        gap:1rem;
    }
    
    .learning-hours .third {
        width: 10rem;
        height: .3rem;
        /* margin-top: rem; */
        padding: .2rem 0;
        z-index: 100;
    }

}

@media (max-width:768px){

    html {
        font-size: 50%;
    }

    .sidebar{
        display: none;
    }

    .header {
        height:4rem;
    }

    /* CSS for the bottom bar items */
    .bottom-navbar{
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 55px;
        box-shadow: 0 0 1rem rgba(0,0,0,.2);
        background-color: var(--color-main);  
        display: flex;
        flex-direction: row;
        /* gap: 2rem; */
        /* flex:auto; */
        overflow-x: auto;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }

    .nav-link{
       display: flex; 
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        justify-content: center;
        /* flex-basis: 20%; */
        min-width: 50px;
        /* font-size: 5rem; */
        overflow: hidden;
        white-space: nowrap;
        color: #fff;   
        font-size: 14px; 
        -webkit-tap-highlight-color: transparent;
        transition: background-color 0.1s ease-in-out;
    }

    .nav-link:hover{
        color: var(--color-main);
        background-color: #fff;
    }

    .link-active{
        color: rgb(146, 146, 250);
    }

    .header .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
    margin: 1rem 1rem;
    margin-right: 20%;
    z-index: 10;
    width:40%;
}

.search-icon {
    padding:0 .5rem;
    /* background-color: #007bff; */
    color: #ccc;
    /* border-right: 1px solid #ccc; */
    /* width: 3rem ; */
}

#search {
    padding: .2rem;
    border: none;
    width: 10rem;
    font-size: 1rem;
}

.heading{
    font-size: 3rem;
}

.grid-container{
    display:flex;
    flex-direction: column;
    gap:.5rem;
    height: 80vh;
    margin-left: 0%;
    position: relative;
    margin-top: 5%;
    margin-bottom: 55px;
}

.header .header-icons {
    display: flex;
    margin:1rem;
    font-size: 2rem;
    gap:1.5rem;
}
.header .header-icons .fa-circle-user{
    font-size: 2.2rem;
}
.hello-user {
    border: none;   
    /* grid-area: 1 / 1 / ; */
}

 /* courses in progress style  */
 .courses-in-progress {
    /* flex-wrap: wrap; */
    background-color: #eee;
    border: none;
    
}
.courses-in-progress .course-box{
    width: 100%;
}
.courses-in-progress .course-box .course-card h5{
    font-size: 1rem;
}

/* style for progress  */
.progress{
    grid-area: 3 / 1 / 4 / 2;
    grid-row: span 2;

}

.progress .progress-contents .progress-for-tasks {
    font-size: 1.5rem;
}

.progress .progress-contents .progress-for-tasks b {
    font-size: 1.7rem;
}

 /* style for learning hours */
.learning-hours{
    grid-area: 3 / 2 / 4 / 3;
}



 /* style for achievements */
 .achievements{
    grid-area: 5 / 1 / 7 / 2;
}


 /* style for tasks */
 .tasks{
   grid-area: 4 / 3 / -2 / -1;
   grid-row: span 3;
}

 /* style for explore */
 .explore{
    grid-area: 4 / 2 / -3 / -2;
    grid-row: span 2;
}

.course-card {
    padding:.2rem 1.2rem;
   width: 100%;
    height: 6.5rem; 
    /* flex: 1 100%; */
    border-radius: 2rem;
    /* display: flex; */
    /* justify-content: space-between; */
    gap: 1.5rem;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow:0 0.5rem .5rem rgba(157, 157, 157, 0.5);
    
}

.course-card .course-logo img {
    /* flex: 1 1 25%; */
    width: 5rem;
    height: 5rem;
    /* margin-top: 0rem;
    margin-bottom: 0rem; */
    border-radius: 10%;
    overflow: hidden;

}

.course-card .course-content h5{
    font-size: 2rem;
}
 

.task-details {
    display: flex;
    gap:1.5rem;
    flex-direction: row;
    text-align: center;
    padding: .5rem .2rem;
    /* font-size: 1.8rem; */

}

.course-name, .task-time{
    font-size: 1.4rem;
}

.task-title{
    font-size:1.5rem;
}

.grid-item .heading {
    font-size: 2rem;
}

.achievements .fa-medal {
    font-size: 4rem;
    color: #555;
    padding: .5rem .2rem;
    margin-left: 1rem;
    /* margin-top: .5rem; */
}

.achievements .certificate h5{
    font-size: 1.5rem;
}

.achievements .certificate p{
    font-size: 1.2rem;
}
.achievements .certificate small{
    font-size: 1rem;
}

.explore .course-content .instructor {
    font-size: 1.7rem;
}

.btn, .learning-hours .btn {
    font-size: 1.7rem;
    padding: .3rem 1rem;
}

.view-course{
    margin-top: ;
}

.explore .btn {
    float: right;
    margin-bottom: 10%;
}

.learning-hours .fa-clock {
    font-size: 5rem;

}

.learning-hours .time-spent-learning {
    font-size: 2rem;
}

.learning-hours .third {
    width: 20rem;
    height: .8rem;
}
}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

}